DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
# SwiftPM
.build/
# CocoaPods
Pods/
# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
# Carthage
Carthage/Build/
# misc
.DS_Store
